<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo">
          <img src="static/img/Logo.svg" alt="logo" />
          <p class="Interno">Interno</p>
        </div>
        <div class="MenuBar">
          <a href="#">Home Project Blog</a>
        </div>
      </div>
      <div class="Banner">
        <img src="static/img/Banner.svg" alt="Banner pictrure" />
      </div>
      <div class="Project">
        <div class="Heading">
          <h1 class="Title">Follow Our Projects</h1>
          <p class="Text">
            It is a long established fact that a reader will be distracted by
            the of readable content of page lookings at its layouts points.
          </p>
        </div>
        <div class="Projects">
          <div class="block block1">
            <img src="static/img/Project1.svg" alt="Изображение 1" />
            <div class="button">
              <div class="text_project">
                <h1 class="title_project">Modern Kitchan</h1>
                <p class="text_project">Decor / Artchitecture</p>
              </div>
              <div class="butt">></div>
            </div>
          </div>
          <div class="block block1">
            <img src="static/img/Project.2svg.svg" alt="Изображение 1" />
            <div class="button">
              <div class="text_project">
                <h1 class="title_project">Modern Kitchan</h1>
                <p class="text_project">Decor / Artchitecture</p>
              </div>
              <div class="butt">></div>
            </div>
          </div>
          <div class="block block1">
            <img src="static/img/Project3.svg" alt="Изображение 1" />
            <div class="button">
              <div class="text_project">
                <h1 class="title_project">Modern Kitchan</h1>
                <p class="text_project">Decor / Artchitecture</p>
              </div>
              <div class="butt">></div>
            </div>
          </div>
          <div class="block block1">
            <img src="static/img/Project4.svg" alt="Изображение 1" />
            <div class="button">
              <div class="text_project">
                <h1 class="title_project">Modern Kitchan</h1>
                <p class="text_project">Decor / Artchitecture</p>
              </div>
              <div class="butt">></div>
            </div>
          </div>
        </div>
      </div>
      <div class="counter">
        <div class="block_counter">
          <div class="big_counter">12</div>
          <div class="description">Years Of Experiance</div>
        </div>
        <div class="vertical-line"></div>
        <div class="block_counter">
          <div class="big_counter">85</div>
          <p class="description">Succses Projects</p>
        </div>
        <div class="vertical-line"></div>
        <div class="block_counter">
          <div class="big_counter">15</div>
          <p class="description">Active Projects</p>
        </div>
        <div class="vertical-line"></div>
        <div class="block_counter">
          <div class="big_counter">95</div>
          <p class="description">Happy Customer</p>
        </div>
      </div>
      <div class="Blog">
        <div class="Blog-text">
          <div class="Articles">Articles & News</div>
          <p class="under_text">
            It is a long established fact that a reader will be distracted by
            the of readable content of a page when lookings at its layouts the
            points of using.
          </p>
        </div>
        <div class="Blog-content">
          <div class="Blog-content-1">
            <div class="photo">
              <img src="static/img/Photo1.svg" alt="photo1" />
              <div class="tag">Kitchan Design</div>
            </div>
            <div class="text-area">
              <h1 class="text-info">
                Let’s Get Solution For Building Construction Work
              </h1>
              <div class="date-button">
                <p class="text-date">26 December,2022</p>
                <div class="butt">></div>
              </div>
            </div>
          </div>
          <div class="Blog-content-2">
            <div class="photo">
              <img src="static/img/Photo2.svg" alt="photo1" />
              <div class="tag">Kitchan Design</div>
            </div>
            <div class="text-area">
              <h1 class="text-info">
                Let’s Get Solution For Building Construction Work
              </h1>
              <div class="date-button">
                <p class="text-date">26 December,2022</p>
                <div class="butt-2">></div>
              </div>
            </div>
          </div>
          <div class="Blog-content-1">
            <div class="photo">
              <img src="static/img/Photo3.svg" alt="photo1" />
              <div class="tag">Kitchan Design</div>
            </div>
            <div class="text-area">
              <h1 class="text-info">
                Let’s Get Solution For Building Construction Work
              </h1>
              <div class="date-button">
                <p class="text-date">26 December,2022</p>
                <div class="butt">></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
